    {% load static %}

    <script type="text/javascript" src="{% static "js/plugins_jquery-1.12.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap_js_bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/hover-dropdown.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/back-to-top.js" %}"></script>
    <script type="text/javascript" src="{% static "js/placeholder_jquery.placeholder.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pretty-photo_js_jquery.prettyPhoto.js" %}"></script>
    <script type="text/javascript" src="{% static "js/plugins_jquery-1.12.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jflickrfeed_jflickrfeed.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/js_main.js" %}"></script>

